body {
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	overflow-x: hidden;
	text-align: center;
}

.wtf {
	background-image: url("med_pattern_full.png");
/*	height: 100%;*/
	-webkit-transform: skewY(-7deg);
	-moz-transform: skewY(-7deg);
	-ms-transform: skewY(-7deg);
	-o-transform: skewY(-7deg);
/*	position: absolute;*/
	transform: skewY(-7deg);
	transform-origin: 0;
	width: 100%;
    background-size: cover;
    height: 0;
    padding-bottom: 51.5%;
    min-height: 650px;
}

.wtf2 {
	background-image: url("med_pattern_full.png");
	height: 100%;
	-webkit-transform: skewY(-7deg);
	-moz-transform: skewY(-7deg);
	-ms-transform: skewY(-7deg);
	-o-transform: skewY(-7deg);
	transform: skewY(-7deg);
	transform-origin: 0;
	width: 100%;
}

.ftw {
    padding-bottom: 51%;
	-webkit-transform: skewY(7deg);
	-moz-transform: skewY(7deg);
	-ms-transform: skewY(7deg);
	-o-transform: skewY(7deg);
	transform: skewY(7deg);
	transform-origin: 0;

}

.navbar{
	font-size: 16pt;
	font-weight: bold;
}

.navbar-nav {
	width: 100vw;
	text-align: center;
	display: table;
}

.navnotimg {
	vertical-align: middle;
	text-align: center;
}

.nav-logo {
	height: 70px;
	transition: .2s;
}

.nav-logo:hover {
	height: 80px;
	transforms: rotate(360deg);
}

.navbut {
	width: 11%;
	display: inline-block;
}

.nav-link {
	width: 100%;
}

.active {
	border-bottom: 2px solid currentColor;
}

.nopad {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.nav-pic{
	padding-left: 10px;
	padding-right: 10px;
	width: 20%;
	display: inline-block;
}

.top-container {
	padding: 0;
	padding-top: 50px;
	width: 1200px;
	display: inline-block;

}
.navbar-collapse.collapse {
  display: block!important;
}



.page-name {
	font-size: 75px;
}

.page-subname {
	font-size: 40px;
	margin-bottom: 30px;
}

.col-md-7 .page-name {
	padding-left: 0;
}


.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.subscribe-button {
	color: black;
	background-color: #F1E2BC;
	display: inline-block;
	padding: 8px;
	width: 420px;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.2s ease-out;
	font-size: 25px;
	/* padding-left: 10px;
	padding-right: 10px; */
}

.subscribe-button:hover {
	color: black;
	opacity: .6;
}

.learnbut {
	font-size: 20px;
	background-color: white;
	opacity: .6;
	color: gray;
}

.learnbut:hover {
	font-size: 25px;
	opacity: .9;
	color: black;
}

.about-learnbut {
	font-size: 20px;
	background-color: white;
	opacity: .6;
	color: gray;
	margin-top: 20px;
}

.about-learnbut:hover {
	font-size: 25px;
	opacity: .9;
	color: black;
}

.history-logo-cont {
	position: relative;
}

.history-logo {
	position: absolute;
	bottom: 30px;
	left: 80px;
}

.history-circle-logo {
	position: absolute;
	top: 10px;
	left: 60px;
}


.semi-transparent-button1 {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
  float:right;
}


.semi-transparent-button2 {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
  float:left;
}

.semi-transparent-button3 {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.body {
/*	position: absolute;*/
/*
	width: 100vw;
	top: 100vh;
*/
    width: 100%;
}

.subcontent {
	width: 100%;
	text-align: center;
}

.tan {
	background-color: #FCFAF7;
}

.container {
	padding: 0;
	padding-top: 50px;
	width: 1000px;
	display: inline-block;
	/* border: solid red 1px; */
}


.subtitle {
	margin-bottom: 20px;
}

.profile-row {
	margin-bottom: 60px;
}

.profile-box {
	position: relative;
}

.info {
	width: 80%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	z-index: 10;
	transition: .5s ease;
}

.profile-box:hover .profile {
	opacity: .2;
	transition: .3s ease;
}

.one:hover .info1 {
	opacity: 1;
}

.two:hover .info2 {
	opacity: 1;
}

.three:hover .info3 {
	opacity: 1;
}

.four:hover .info4 {
	opacity: 1;
}

.five:hover .info5 {
	opacity: 1;
}

.six:hover .info6 {
	opacity: 1;
}

.seven:hover .info7 {
	opacity: 1;
}

.eight:hover .info8 {
	opacity: 1;
}

.nine:hover .info9 {
	opacity: 1;
}

.ten:hover .info10 {
	opacity: 1;
}

.eleven:hover .info11 {
	opacity: 1;
}

.twelve:hover .info12 {
	opacity: 1;
}

.name {
	font-size: 17px;
	font-weight: bold;
}

.position {
	color: gray;
}

.who-are-we {
	height: 400px;
}

.help {
	height: 800px;
}

.history {
	height: 550px;
}

.meet-the-team {
	height: 950px;
}

.partners {
	height: 300px;
}

.affiliations {
	height: 500px;

}

.affiliation-logos {
	margin-top: 50px;
}

.program-overview {
	height: 400px;
}

.curriculum-list {
	height: 250px;
}

.curriculum {
	height: 650px;
}

.internship {
	height: 300px;
}

.details-headers {
	margin-bottom: 15px;
}

.details-pics {
	line-height:200px;
	height: 230px;
}

.details {
	height: 550px;
}

.parent-orientation {
	height: 300px;
}

.important-dates {
	height: 400px;
}

.students {
	height: 500px;
}

.staff-qualities {
	text-align: center;
	height: 680px;
}

.application-header {
	margin-bottom: 30px;
}

.application-process-text {
	margin-bottom: 40px;
}

.staff-header {
	display: inline-block;
	text-align: center;
	border-bottom: 3px solid currentColor;
	width: 240px;
}

.staff-qualities-pics {
	height: 270px;
}

.application-process {
	height: 600px;
}

.container .application-process {
	position: relative;
}

.staff-apply-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 280px;
	margin-top: 40px;
}

.semi-transparent-button1 {
	background-color: #F1E2BC;
	height: 50px;
	padding-top: 10px;
}

.semi-transparent-button2 {
	background-color: #F1E2BC;
	height: 50px;
	padding-top: 10px;
}

a:hover {
	text-decoration: none;
}

.semi-transparent-button1:hover {
	opacity: .5;
	color: black;
}

.semi-transparent-button2:hover {
	opacity: .5;
	color: black;
}

.help-buttons-container {
	margin-top: 50px;
}

/*Students.html CSS Specific*/
.parent {
	padding-top: 6%;
	padding-bottom: 6%;
}

.importantDates {
	background-color: #FCFAF7;
	padding-top: 4%;
	padding-bottom: 6%;
}

.importantDates .container {
	background-color: #c0b1a3;
	padding-top: 2%;
	padding-bottom: 2%;
}

.container .importantDates3 {
	background-color: #FCFAF7;
	padding-top: 2%;
	padding-bottom: 2%;

}

/*Students.html & Staff.html CSS Specific*/
.navcontainer{
	position: fixed;
	font-family: sans-serif;
	font-size: 18pt;
	margin-left: 4%;
	margin-top: 2%;
	width: 100vw;
	left: 0;
	z-index:2;
}

.nav-pic1 {
	padding-left:6%;
}

.bodyStudents {
	position: relative;
	padding-top:12%;
	z-index:1;
}

/*Footer CSS*/
.footer {
    background-color: #46525f;
    min-height: 350px;
    padding-top:70px !important;
		bottom: 0;
}
.footer h4{
    font-size: 15px;
    color:#e1e1e1;
    text-align: left;
    padding-bottom: 9px;
}
.footer ul{
    list-style-type: none;
    text-align: left;
    padding:0;
}
.footer li {
    font-size: 15px;
    padding-bottom: 5px;
}
.footer a {
    color:#8E8D8A;
}
.footer a:hover {
    color: #d9d9d9;
}
.footer {
    padding-bottom: 30px;
}


@media (max-width: 768px) {

  /* #navbar {
  padding-top: 10px;
  }

  #navbar > ul {
  display: table-row;
  padding-top: 48px;
  }

  #navbar > ul > li {
  display: table-cell;
  float: none;
  vertical-align: middle;

  text-align: center;

  width: 80px;  /* crazy designer's fixed-width, multi-line entries */
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

@media only screen
/* and (min-device-width : 375px) */
and (max-device-width : 667px)
and (orientation : portrait) {

	.who-are-we {
		height: 450px;
	}

	.history {
		height: 650px;
	}

	.meet-the-team {
		height: 750px;
	}

	.program-overview {
		height: 450px;
	}

	.internship {
		height: 350px;
	}

	.details {
		height: 600px;
	}

	.parent-orientation {
		height: 350px;
	}

	.application-process {
		height: 650px;
	}

	.staff-qualities {
		height: 730px;
	}


}
